@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "ヒラギノ角ゴ";
  font-size: 16px;
}

.title {
  font-family: "Futura";
  font-size: 43px;
  color: #301F1B;
  letter-spacing: 0;
  line-height: 1.53;
}

.font-en {
  font-family: "Futura Condensed Medium 43pt";
}

.txtxl {
  font-size: 34px;
}

.txtl {
  font-size: 22px;
}

.txtm {
  font-size: 18px;
}

.txts {
  font-size: 14px;
}

.txtxs {
  font-size: 12px;
}

a:hover {
  transition: .3s;
  opacity: .8;
}

.container {
  max-width: 810px;
  margin: 0 auto;
}

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.header {
  height: 90px;
  text-align: center;
}

.global-nav {
  max-width: 664.28px;
  margin: 0 auto;
  height: 100%;
  color: #421f15;
  font-weight: 600;
}

.global-nav__nav-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global-nav__nav-item .txtxs {
  margin-bottom: 5.9px;
}

.topview-area {
  height: 60vh;
  background-image: url(../img/topview.jpg);
  background-position: right center;
  padding: 60px 0;
}

.topview {
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.topview__info {
  position: absolute;
  width: 370px;
  left: 0;
  bottom: 0;
}

.topview__text-area {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  width: 340px;
}

.topview__text1, .topview__text2 {
  line-height: 1.57;
}

.topview__text2 {
  margin-top: 5px;
}

.topview__detail-btn {
  position: absolute;
  right: 0;
  bottom: -90px;
  display: inline-block;
  background-color: #c63205;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 200px;
  line-height: 60px;
}

@media (min-width: 1793px) {
  .topview {
    background-size: cover;
  }
}

.intro {
  margin-top: 60px;
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.29);
  background-image: url(../img/intro.png);
  background-repeat: no-repeat;
  background-size: 25%;
}

.intro__sub-title {
  font-size: 34px;
  font-weight: 600;
  color: #AEAFAD;
  margin-top: 15px;
  line-height: 1;
}

.intro__text {
  margin-top: 30px;
  color: #333333;
  text-align: left;
  line-height: 1.75;
  columns: 2;
}

.news {
  margin-top: 60px;
  text-align: center;
  position: relative;
}

.news__detail-btn {
  display: inline-block;
  background-color: #c63205;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 120px;
  line-height: 40px;
  position: absolute;
  top: 10px;
  right: 0;
}

.news__contents {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 250px;
  height: 260px;
  background-color: #fff;
  margin-bottom: 30px;
}

.card__link {
  display: flex;
  flex-direction: column;
}

.card__img {
  height: 140px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card__text {
  padding: 14px 15px;
  text-align: left;
}

.card__date {
  color: #666666;
  line-height: 1.75;
}

.card__title {
  font-weight: 600;
  line-height: 1.31;
}

.card-45 {
  width: 390px;
  height: 88px;
}

.card-45 .card__link {
  flex-direction: row;
  height: 100%;
}

.card-45 .card__img {
  width: 156px;
  height: 100%;
}

.card-45 .card__text {
  width: 234px;
  height: 88px;
}
