//-----------------------------
//共通設定
//-----------------------------

//共通フォント設定
h1,h2,h3,h4,h5,h6,p,a{
  font-family: "ヒラギノ角ゴ";
  font-size: 16px;
}

h2{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18;
  margin:15px 0;
}

h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  margin:15px 0;
}

.title{
  font-family:"Futura";
  font-size: 43px;
  color:#301F1B;
  letter-spacing: 0;
  line-height: 1.53;
}

.font-en{
  font-family: "Futura Condensed Medium 43pt";
}

.txtxl{font-size: 34px;}
.txtl{font-size: 22px;}
.txtm{font-size: 18px;}
.txts{font-size: 14px;}
.txtxs{font-size: 12px;}

a:hover{
  transition:.3s;
  opacity:.8;
}

//共通色設定
$white:#ffffff;
$black:#333333;
$brown:#421f15;
$red:#c63205;

//共通レイアウト設定
.container{
  max-width:810px;
  margin:0 auto;
}

//背景設定
body{
 background-image: url(../img/background.jpg);
 background-size: cover;
 background-attachment: fixed;
}

//共通モジュール
@mixin detail-btn($width,$height){
  display: inline-block;
  background-color: $red;
  color:$white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width:$width;
  line-height: $height;
}

img{
  width:100%;
  height:auto;
}

//ヘッダー＋トップビュー
.header{
  height: 90px;
  text-align: center;
 }
 .global-nav{
   max-width:664.28px;
   margin:0 auto;
   height:100%;
   color:$brown;
   font-weight: 600;
   ul{
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   li{
     .txtxs{
       margin-bottom: 5.9px;
     }
   }
 }

 .topview-area{
  height: 60vh;
  background-image: url(../img/topview.jpg);
  background-position:right center;
  padding:60px 0;
}
.topview{
  max-width: 920px;
  height:100%;
  margin:0 auto;
  position: relative;
  &__info{
    position: absolute;
    width:370px;
    left:0;
    bottom:0;
  }
  &__text-area{
    position: absolute;
    right:0;
    bottom:0;
    color:$white;
    width:340px;
  }
  &__text1,&__text2{
    line-height: 1.57;
  }
  &__text2{
    margin-top: 5px;
  }
  &__detail-btn{
    position: absolute;
    right:0;
    bottom:-90px;
    @include detail-btn(200px, 60px);
  }
}
@media (min-width:1793px){
  .topview{
    background-size: cover;
  }
}


 //スケジュール＋フッター
 .schedule{
  text-align: center;
  &__area{
    background-color: rgba(255, 255, 255, 0.29);
    padding:30px 77px 60px;
  }
  &__list{
    margin-top: 29px;
    font-size: -20px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 20px;
  }
  &__time{
    font-size: 20px;
  }
  &__place{
    font-size: 20px;
  }
  &__ticket{
    font-size: 20px;
    text-decoration: underline;
  }
  &__link{
    display: inline-block;
    margin: 30px auto 0;
    width:416px;
    display: flex;
    justify-content: space-between;
  }
  &__inquiry-btn{
    @include detail-btn(193px, 60px);
    background-color: #603813;
  }
  &__detail-btn{
    @include detail-btn(193px, 60px)
  }
}

footer{
  margin-top: 60px;
  height:80px;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text{
  color:$white;
}
 

//-----------------------------
//共通設定ここまで
//-----------------------------



//-----------------------------
//トップページ
//-----------------------------
.intro{
  margin-top: 60px;
  text-align: center;
  padding:30px;
  background-color: rgba(255, 255, 255, .29);
  background-image: url(../img/intro.png);
  background-repeat: no-repeat;
  background-size: 25%;
  &__sub-title{
    font-size: 34px;
    font-weight: 600;
    color:#AEAFAD;
    margin-top: 15px;
    line-height: 1;
  }
  &__text{
    margin-top: 30px;
    color:$black;
    text-align: left;
    line-height: 1.75;
    columns: 2;
  }
}


.news{
  margin-top: 60px;
  text-align: center;
  position: relative;
  &__detail-btn{
    @include detail-btn(120px, 40px);
    position: absolute;
    top:10px;
    right:0;
  }
  &__contents{
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.card{
  width:250px;
  height:260px;
  background-color: #fff;
  margin-bottom: 30px;
  &__link{
    display: flex;
    flex-direction: column;
  }
  &__img{
    height:140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    padding:14px 15px;
    text-align: left;
  }
  &__date{
    color: #666666;
    line-height: 1.75;
  }
  &__title{
    font-weight: 600;
    line-height: 1.31;
    font-size: 16px;
    margin: 0;
  }
}

.card-45{
  width:390px;
  height:88px;
  .card__link{
    flex-direction:row;
    height:100%;
  }
  .card__img{
    width: 156px;
    height:100%;
  }
  .card__text{
    width:234px;
    height:88px;
  }
}

.story{
  background-image: url(../img/story.jpg);
  background-position: top;
  &__container{
    text-align: center;
    padding: 30px 0 32px;
  }
  &__title{
    color:$white;
  }
  &__text-area{
    margin-top: 19px;
    text-align: right;
  }
  &__text{
    margin:0 0 0 auto;
    text-align: left;
    color:white;
    width: 320px;
    height:245px;
    overflow: hidden;
    line-height: 1.75;
  }
  &__detail-btn{
    margin-top: 8.6px;
    @include detail-btn(116px, 37px);
  }
}
@media (min-width:1022px){
  .story{
    background-size: cover;
  }
}


.comments{
  margin-top: 57px;
  text-align: center;
  &__sub-title{
    font-size: 24px;
    font-weight: 600;
    margin-top: 33px;
  }
  &__exp{
    margin-top: 33px;
    background-image: url(../img/comments.jpg);
    background-position: center;
    color:$white;
    padding:44px 30px;
    position: relative;
  }
  &__text-area{
    width: 420px;
    text-align: left;
  }
  &__person{
    font-size: 20px;
    font-weight: 600;
    &--strong{
      font-size: 26px;
    }
  }
  &__text{
    margin-top: 15px;
    line-height: 1.57;
  }
  &__detail-btn{
    @include detail-btn(116.71px, 36.43px);
    position: absolute;
    right: 14.3px;
    bottom: 14.4px;
  }
}

.cast{
  margin: 60px 0;
  text-align: center;
  &__white{
    background-color:rgba(255, 255, 255, 0.9);
    margin-top:134px;
    position: relative;
    height:650px;
  }
  &__container{
    position:absolute;
    top:-110px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  &__detail-btn{
    position: absolute;
    bottom:30px;
    @include detail-btn(115.71px, 35px)
    color:$red;
    background-color: transparent;
    border:5px $red solid;
  }
}

.person{
  width:250px;
  display: flex;
  flex-direction: column;
  &__image{
    width:220px;
    margin:0 auto;
    img{
      border-radius: 50%;
    }
  }
  &__info{
    margin-top:38.8px;
  }
  &__name{
    margin-top: 14px;
    font-weight: 600;
  }
  &__sub-work{
    margin-top: 14px;
    color: #666666;
  }
  &__text{
    margin-top: 14px;
    color: #666666;
    line-height: 1.75;
    text-align: left;
    height:315px;
    overflow: hidden;
  }
}




//-----------------------------
//NEWS投稿ページ（single.php）
//-----------------------------
.card-article{
  margin-bottom: 30px;
  width:100%;
  &__link{
    display: flex;
    flex-direction: column;
  }
  &__img{
    height:578px;
    width:100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__thumbnail-img{
    height:100%;
    width:auto;
  }
  &__title-area{
    background-color:#1A1A1A;
    color:$white;
    padding:14px 29.5px;
    text-align: left;
  }
  &__date{
    color: $white;
    line-height: 1.75;
  }
  &__title{
    font-weight: 600;
    font-size: 26px;
  }
  &__text-area{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 17px rgba(255,255,255,0.1);
    padding: 30px;
    text-align: left;
    line-height: 2;
    letter-spacing: 0;
  }
}

.pager{
  margin: 30px 0 19px;
  text-align: initial;
  min-height: 96px;
  &__btn{
    width:32.5px;
    height:32.5px;
    background-color: $black;
    color:#F1C201;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    line-height: 32.5px;
  }
}

.prev{
  display: inline-block;
  position: absolute;
  left:0;
  &__area{
    display: flex;
    align-items: center;
  }
  &__text-area{
    min-width: 345px;
    margin-left: 12.5px;
    text-align: left;
  }
  &__text{
    font-weight: 600;
    line-height: 1.5;
  }
}

.next{
  display: inline-block;
  position: absolute;
  right:0;
  &__area{
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
  }
  &__text-area{
    min-width: 345px;
    text-align: right;
    margin-right: 12.5px;
  }
  &__text{
    font-weight: 600;
    line-height: 1.5;
  }
}



//-----------------------------
//NEWS一覧ページ（archive.php）
//-----------------------------
.pager{
}

.page_navi{
  text-align: center;
  li{
    position:static;
    display: inline-block;
    width:27px;
    line-height: 27px;
    border:2px $black solid;
    margin:0 4.5px;
    color:#F4D102;
    background-color: black;
  }
  .last, .first{
    display: none;
  } 
  .next, .previous{
    color:black;
    background-color: transparent;
  }
}


//-----------------------------
//コメント一覧ページ（page-comments.php）
//-----------------------------
.comments-all{
  margin: 30px 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comments-all::after{ //最終行を左寄せ
  content: "";
  display: block;
  width: 32%;
  height: 0;
}
.comment{
  width:250px;
  height:241px;
  margin-bottom: 30.5px;
  &__name{
    font-size: 22px;
    margin: 0;
  }
  &__work{
    margin-top: 10px;
  }
  &__text{
    text-align: left;
    margin-top: 15px;
    line-height: 1.63;
  }
}


//-----------------------------
//キャスト一覧ページ（page-cast.php）
//-----------------------------
.cast-others{
 margin-top: 61px; 
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.cast-other{
  width:390px;
  display: flex;
  margin-bottom: 30.5px;
  text-align: left;
  &__image{
    width:129.25px;
    height:129.25px;
    img{
      border-radius: 50%;
    }
  }
  &__text-area{
    width:250px;
    margin-left: 10.8px;
  }
  &__nation{
    font-size: 16px;
  }
  &__name{
    margin-top: 10px;
    font-size: 22.6px;
    font-weight: 600;
  }
  &__work{
    margin-top: 10px;
  }
  &__text{
    height:109px;
    overflow: hidden;
    margin-top: 10px;
    line-height: 1.75;
  }
}

.musicians{
  background-color: rgba(255, 255, 255, 0.9);
  padding:48px 0;
  text-align: center;
}

.staffs{
  padding:48px 0;
  text-align: center;
}